@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Rubik';
  color: #254cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  padding: 60px;
  font-family: 'Lucida Handwriting', 'Cascade-Script';
  text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px darkblue;
  color: lightskyblue;
}

h2 {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: 'Consolas';
  text-shadow: 2px 2px 3px darkgoldenrod, 0 5px 5px purple, 0 0 15px lightyellow;
}

h4 {
  text-align: left;
  padding: 15px;
  font-family: Consolas;
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
}

h5 {
  text-align: left;
  padding: 10px;
  font-family: 'Consolas';
  color: lightcoral;
  text-shadow: 1px 1px 2px black, 0 0 15px green, 0 0 2px darkblue;
  font-weight: bold;
}

ol {
  font-family: 'Consolas';
  color: darkcoral;
  margin-left: 60px;
  text-shadow: 1px 1px 2px black, 0 15px 25px purple, 0 0 15px lightyellow;
}

ul {
  font-family: 'Consolas';
  color: lightcoral;
  font-weight: lighter;
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
  font-weight: bold;
}

.Minter {
  max-width: 120vh;
  max-height: 180vh;
  padding: 60px 100px;
  margin: auto;
  text-align: left;
  color: darkslateblue;
  
}
.Minter div{
  background-color: transparent;
  opacity: ;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 50%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

.Attributes {
  margin-top: 20px;
}

.Attributes2 {
  margin-top: 5px;
}

.Attributes input[type="text"] {
  font-size: 16px;
  width: 40%;
  /*border-color: rgba(4, 4, 5, 0.1);*/
  line-height: 12px;
  display:  inline-bock;
  margin-right: 80px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #254cdd;
  color: white;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

#title {
  padding-top: 36px;
  font-weight: bold;
}

#status {
  color:red;
  text-shadow: 1px 1px 2px black, 0 0 15px purple, 0 0 15px lightyellow;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

.UploadToIPFS {
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;
}

#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 50px;
  line-height: 16px;
  color: #254cdd;
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
}

#mintButton {
  margin-top: 40px;
  background-color: #254cdd;
  color:lightskyblue;
  font-family: 'Papyrus', 'Cascade-Script';
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
}

#attributesButton {
  margin-top: 40px;
  margin-right: 320px;
  margin-left: 100;
  background-color: #254cdd;
  color:lightskyblue;
  align-items: right;
  font-family: 'Papyrus', 'Cascade-Script';
  font-weight: bold;
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
}

.wrapper {
  width: 90%;
  margin: 40px;
  text-align: center;
  background-color: transparent;
  justify-content: center;
}

.wrapper p{
  font-family: 'Consolas';
  background-color: transparent;
  color: darkgoldenrod;
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
}

a {
  font-family: Consolas;
  text-decoration: underline;
  color: blue;
}

b {
  color: #254cdd;
  text-shadow: 1px 1px 2px darkgoldenrod;
}

.App {
  background: url(images/distorted-ink.jpg);
  min-height:  100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
  opacity: 1;
}

.success {
  font-family: 'Consolas';
  background-color: transparent;
  color: lightskyblue;
  text-shadow: 1px 1px 2px black, 0 5px 25px purple, 0 0 15px lightyellow;
}